html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}


/* MAIN */

.container-fluid .container{
    display: flex;
}

/* slider */
.section-top{
    margin-bottom: 20px;
}

.img-responsive{
    width: 100%;
}

/* section */
.text-center{
    text-align: center;
}

.text-right{
    margin-left: auto;
    margin-right: 0;
    float: right;
}

.section-title{
    background: #FFFFFF;
    display: inline-block;
    padding: 10px;
    width: auto;
    color: #626262;
}

.section-delivery{
    height: 300px;
    background-color: darkgreen;
    text-align: center;
}


/* products */
.cards{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    flex-basis: 30%;
    margin-bottom: 20px;
    background: transparent;
    border: none;
}

.product-item{
    height: 565px;
    position: relative;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 5%);
    border-radius: 7px;
}

.discount{
    position: absolute;
    background: #eb5e58;
    border-radius: 0 4px 4px 0;
    color: #fff;
    display: inline-block;
    top: 37%;
    width: 35%;
    left: 0;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 5px;
}

.img-responsive-cart{
    max-width: 190px;
    width: 100%;
    max-height: 250px;
    height: 250px;
}

.image_detail{
    padding: 5px;
    margin-bottom: 10px;
}

.product-name{
    height: 100%;
    margin-top: 17px;
    max-height: 70px;
    overflow: hidden;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #3757c5;
}

.product-description{
    margin-bottom: 10px;
    max-height: 80px;
    height: 100%;
    overflow: hidden;

    margin-top: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.product-price{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #000;
}

.add-to-cart-btn{
    position: absolute;
    bottom: 17px;
    left: 10%;
    right: 10%;
}

.button{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 0%);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

.button:hover{
    color: white;
    background-color: #000;
}

.btn-success-add-cart{
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
}

.image_detail{
    width: 100%;
}




.btn-group-tabs .btn{
    margin-right: 10px;
    margin-bottom: 10px;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px;
}

.footer{
    position: relative;
    margin-bottom: -180px;
    background-color: white;
    height: 200px;
    clear: both;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-top{
    min-height: 10px;
    height: 40px;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

.nav-right{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    list-style: none;
    color: white;
    margin-bottom: 0;
}
.nav-right a{
    color: white;
    text-decoration: none;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
    text-align: end;
}

.basket-items{
    position: absolute;
    top: 60px;
    width: 108%;
    background-color: black;
    z-index: 10;
    padding: 10px;
    right: 0;
}

.basket-items li{
    display: flex;
    justify-content: space-between;
}

.checkout-group{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}

/* media */

/* products */
@media (max-width: 992px){
    .card {
        flex-basis: 49%;
    }
}

@media (max-width: 578px){
    .card {
        flex-basis: 100%;
    }
}