<nav class="navbar navbar-default navbar-static-top navbar-top $gray-900">
  <div class="container">
    
  </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-main">
        <div class="container-fluid">
          <div class="container">
            <a class="navbar-brand" href="/">MyShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
              <ul class="nav-right">
                <li>
                  <div class="basket-container">
                    <a href="#">Корзина 
                      <span id="basket_total_amount"></span><span id="basket_total_nmb">
                        {% if products_total_nmb %}
                          ({{ products_total_nmb }})
                        {% else %}
                          (0)
                        {% endif %}
                      </span>
                  </a>
                    <div class="basket-items hidden">
                      <ul class="">
                        {% for product_in_basket in products_in_basket %}
                          <li>{{ product_in_basket.product.name }}  {{ product_in_basket.nmb }} шт. по 
                            {{ product_in_basket.price_per_item }} ₽
                            <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

