{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'img/slider/slider0.jpg' %}" alt="" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row cards">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        <span class="section-title">Новые поступления</span>
                    </h1>
                </div>
                {% for product_image in products_images %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="section section-delivery">
        <div class="col-lg-12">
            <h1 class="text-center">
                <span class="section-title">Бесплатная доставка</span>
            </h1>
        </div>
    </div>

    <div class="section section2 phones-container">
        <div class="container">
            <div class="row cards">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        <hr>
                        <span class="section-title">Телефоны</span>
                    </h1>
                </div>
                {% for product_image in products_images_phones %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="section section3 laptops-container">
        <div class="container">
            <div class="row cards">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        <hr>
                        <span class="section-title">Ноутбуки</span>
                    </h1>
                </div>
                {% for product_image in products_images_laptops %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}